h1 社員データを追加します
= form_for @employee do |f|

  = f.label "社員ID:"
  = f.text_field :employee_id

  = f.label "名前:"
  = f.text_field :name

  = f.label "年齢:"
  = f.text_field :age

  = f.lebel "性別"
  = f.radio_button :gender, 10
  = f.label :gender, "男", :value => 10 
  = f.radio_button :gender, 20 
  = f.lebel :gender, "女", :value => 20 

  = f.lebel "写真:"

  = f.lebel "郵便番号:"

  = f.lebel "都道府県:"

  = f.lebel "住所:"

  = f.lebel "所属:"

  = f.lebel "入社日:"

  = f.lebel "退社日:
