h1 部署一覧：
table
  tr
    th ID
    th 部署名
  - @departments.each do |department|
    tr
      td #{department.id}
      td #{department.name}
      td 
        = link_to edit_department_path(department) do 
          button 編集
      td
        = link_to department_path(department), method: :delete, data: {confirm: "削除します"} do
          button 削除

= link_to new_department_path do 
  button 新規追加
